In [1]:
L =[]
print(L)

[]

In [2]:
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
print (days_in_month)

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [3]:
def how_many_days(month):
    return days_in_month[month - 1]

In [4]:
print(how_many_days(1))

31

In [5]:
print(how_many_days(9))

30

In [6]:
mix_up = ['apple',3, 'orange',27, ['pi',3.14,['alpha','beta']]]
print(mix_up)

['apple', 3, 'orange', 27, ['pi', 3.14, ['alpha', 'beta']]]

In [7]:
print(len(mix_up))

5

In [8]:
beatlest = [['John', 1940],
            ['Paul', 1942],
            ['Gerge',1943],
            ['Ringo', 1950]]

print(beatlest)

[['John', 1940], ['Paul', 1942], ['Gerge', 1943], ['Ringo', 1950]]

In [9]:
print(beatlest[3])

['Ringo', 1950]

#List Omprtion

In [10]:
L =[]
dir(L)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
print(type(dir(L)))

<class 'list'>

In [12]:
print([method for method in dir(L) if not method.startswith('__')])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [13]:
help(L.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [14]:
List_of_names=['Sara','Dave','John']
print(List_of_names)

['Sara', 'Dave', 'John']

In [15]:
List_of_names.append('Robert')
print(List_of_names)

['Sara', 'Dave', 'John', 'Robert']

Connected

In [16]:
print([0, 1] + [2, 3])

[0, 1, 2, 3]

A list length

In [17]:
print(len(List_of_names))

4

In [18]:
print(len([]))

0

In [19]:
print(len([0, [1,[2]]]))

2

Other list operators

sort()
revers()
count()
extend()
pop()
rempve()
insert()

In [20]:
print(List_of_names)

['Sara', 'Dave', 'John', 'Robert']

In [21]:
List_of_names.sort()
print(List_of_names)

['Dave', 'John', 'Robert', 'Sara']

In [22]:
List_of_names.reverse()
print(List_of_names)

['Sara', 'Robert', 'John', 'Dave']

In [23]:
help(List_of_names.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [24]:
List_of_names.pop()

'Dave'

In [25]:
print(List_of_names)

['Sara', 'Robert', 'John']

In [26]:
List_of_names.pop(0)

'Sara'

In [27]:
print(List_of_names)

['Robert', 'John']

In [28]:
List_of_names.pop(1)

'John'

Loops for the list

In [29]:
my_List = [2, 8, 6, 1, 4, 9]

In [30]:
i = 0
while  i < len(my_List):
    print(my_List[i])
    i = i + 1

2
8
6
1
4
9

FOR LOOPS

In [31]:
for number in my_List:
    print(number)

2
8
6
1
4
9

In [32]:
def print_List(l):
    for e in l :
        print(e)

In [33]:
print_List(my_List)

2
8
6
1
4
9

In [34]:
my_list = [1, 2,[3, 4]]
print_List(my_List)

2
8
6
1
4
9

Example:

In [35]:
def sum_List(l):
    total = 0
    for number in l:
        total +=number
    return total

In [36]:
print (sum_List([1, 2, 3, 4, 5]))

15

In [37]:
print(sum_List([]))

0

In [38]:
def count_number_of_Us(l):
    count = 0
    for name in l:
        if name.startswith('U'):
          count +=1
        return count

In [39]:
print (count_number_of_Us(['Dave','Katy', 'Jhon']))

0

In [40]:
print(count_number_of_Us(['Umika', 'Umberto']))

1

In [41]:
def finde_element(l, x):
    i = 0
    while i < len(l):
        if l [i] == x:
             return i
        i += 1
    return -1

In [42]:
print(finde_element([1, 2, 3, 4 , 3, 1], 3))

2

In [43]:
print(finde_element(['alpha', 'beta'],'sigma'))

-1

In [44]:
def finde_element(l, x):
    i = 0
    for e in l:
        if e == x :
           return i
        i += 1
    return -1

In [45]:
print(finde_element([1, 2, 3, 4 , 3, 1], 3))

2

index()method

In [46]:
l = [0, 1, 2]
print(l.index(2))

2

In [47]:
l = [0, 1, 2, 2, 2, 2, 2]
print(l.index(2))

2

In [48]:
l = [0 ,1, 2]
print(l.index(3))

ValueError: 3 is not in list

In [ ]:
l = [0, 1, 2]
print(2 in l)
print(3 in l)

True
False

In [ ]:
print(2 not in l)
print(3 not in l)

False
True

In [ ]:
def finde_element(l, x):
    if x in l:
       return l.index(x)
    return -1

In [ ]:
print(finde_element([1, 2, 3, 4 , 3, 1], 3))

2

The union function is a function in which we can associate a dualist, but the duplicate function is eliminated.

In [6]:
def union(11,12):
    for e in 12:
        if e not in 11:
            11.append(e)
    return 11

SyntaxError: invalid decimal literal (Temp/ipykernel_6460/887638426.py, line 4)