# Python Indentation
Indentation refers to the spaces at the beginning of a code line.


Where in other programming languages the indentation in code is for readability only, the indentation in Python is very
important.



Python uses indentation to indicate a block of code.

# Example

In [4]:
print("Hello, World!")

Hello, World!

In [6]:
if 6 > 3:
     print("six is greater than tree!")

six is greater than tree!

In [8]:
if 4 > 1:
    print("Five is greater than two!")

Five is greater than two!

The number of spaces is up to you as a programmer, the most


common use is four, but it has to be at least one.

# Example:

In [9]:
if 6 > 3:
 print("six is greater than three!") 
if 4 > 1:
        print("Four is greater than one!")

six is greater than three!
Four is greater than one!

You have to use the same number of spaces in the same block of


code, otherwise Python will give you an error:

In this type of error called IndentationError: at least print,


both must be spaced four spaces from the beginning of the line

In [16]:
if 6 > 3:
print("six is greater than three!")
print("six is greater than three!")

IndentationError: expected an indented block (<ipython-input-16-43d2323cb73e>, line 2)

# Python Variables


In Python, variables are created when you assign a value to it:

In [17]:
x = 5
y = "Hello, World!"

In [18]:
print(x)
print(y)

5
Hello, World!

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

# Creating a Comment


Comments starts with a #, and Python will ignore them:


# Example:

In [19]:
#This is a comment
print("Hello, World!")

Hello, World!

Comments can be placed at the end of a line, and Python will


ignore the rest of the line:



# Example:

In [20]:
print("Hello, World!") #This is a comment

Hello, World!

A comment does not have to be text that explains the code, it

can also be used to prevent Python from executing code:



# Example:

In [21]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

# Multi Line Comments:


Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:



# Example:

In [22]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Or, not quite as intended, you can use a multiline string.



Since Python will ignore string literals that are not assigned


to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

# Example:

In [27]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Variables


Variables are containers for storing data values.



# Creating Variables
Python has no command for declaring a variable.



A variable is created the moment you first assign a value to it.


# Example:

In [28]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type,


and can even change type after they have been set.

In [29]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

# Casting

If you want to specify the data type of a variable, this can

be done with casting.

# Example

In [31]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [32]:
print(x)
print(y)
print(z)

3
3
3.0

# Get the Type


You can get the data type of a variable with the type() function.

# Example

In [33]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Single or Double Quotes?


String variables can be declared either by using single or double quotes:

# Example

In [34]:
x = "John"
# is the same as
x = 'John'

In [35]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

# Case-Sensitive


Variable names are case-sensitive.



# Example:


This will create two variables:

In [36]:
a = 4
A = "Sally"
#A will not overwrite a

In [37]:
print(a)
print(A)

4
Sally

# Variable Names:


A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:



A variable name must start with a letter or the underscore character


A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )



Variable names are case-sensitive (age, Age and AGE are three different variables)


# Example:


Legal variable names:

In [38]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [39]:
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

 # Example:
 
 
Illegal variable names:

In [46]:
2myvar = "John"
my-var = "John"
my var = "John"
#This example will produce an error in the result
#Find the error so that you can influence your learning

SyntaxError: invalid syntax (<ipython-input-46-39468e2276e2>, line 1)

# Multi Words Variable Names:
    
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

# Camel Case:



Each word, except the first, starts with a capital letter:

In [47]:
myVariableName = "John"

In [48]:
print(myVariableName)

John

# Pascal Case:


Each word starts with a capital letter:

In [49]:
MyVariableName = "John"

print(MyVariableName)

John

# cSnake Case


Each word is separated by an underscore character:

In [50]:
my_variable_name = "John"

print(my_variable_name)

John

# Python Variables - Assign Multiple

# Values


# Many Values to Multiple Variables


Python allows you to assign values to multiple variables in one line:

# Example:

In [51]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One Value to Multiple Variables


And you can assign the same value to multiple variables in one li

In [52]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unpack a Collection


If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking

In [53]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python - Output Variables


# Output Variables


The Python print() function is often used to output variables.

In [54]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [55]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [56]:
#Example
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [57]:
x = 6
y = 11
print(x + y)

17

In the print() function, when you try to combine a string and

a number with the + operator, Python will give you an error:

In [59]:
x = 6
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print()

function is to separate them with commas, which even support

different data types:

In [60]:
x = 6
y = "John"
print(x, y)

6 John

# Python - Global Variables



# Global Variables


Variables that are created outside of a function (as in all of the examples above) are known as global variables.



Global variables can be used by everyone, both inside of functions and outside.


# Example:



Create a variable outside of a function, and use it inside the function

In [62]:
x = "simanews"

def myfunc():
  print("Python is " + x)

myfunc()

Python is simanews

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.




# Example:


Create a variable inside a function, with the same name as the global variable

In [63]:
x = "simanewas"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is simanewas

# The global Keyword


Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.



To create a global variable inside a function, you can use the global keyword.



# Example:



If you use the global keyword, the variable belongs to the global scope:

In [64]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.



# Example:



To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [66]:
x = "simanews"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python - Variable Exercises




# Test Yourself With Exercises


Now you have learned a lot about variables, and how to use them in Python.



Are you ready for a test?



Try to insert the missing part to make the code work as expected:

In [67]:
def func1():
    x = 50
    return x
func1()
print(x)

fantastic

In [68]:
print("work"+"shop")
print("3"+"7")

workshop
37

# Python Data Types


# Built-in Data Types


In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview


# Getting the Data Type




You can get the data type of any object by using the type() function:

In [69]:
x = 5
print(type(x))

<class 'int'>

In [70]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [71]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [72]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [73]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [74]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [75]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [76]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [77]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'apple', 'cherry'}
<class 'set'>

In [78]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

In [79]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [80]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [81]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [82]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000001EB4500FE80>
<class 'memoryview'>