# Each list is a number with different data elements

In [3]:
my_list = [1,'exmple',5.45]
my_list

[1, 'exmple', 5.45]

# In addition, a list can contain another

# element. Such a list is known as a nested list.

In [4]:
my_list1 = [1.56, 'python']
my_list2 = ['example', 1]
my_list = [5, my_list,'data sientist', my_list2]
my_list

[5, [1, 'exmple', 5.45], 'data sientist', ['example', 1]]

# Adding elements to a list is available in Python (append (), exten (), insert (),



The append function, () = adds all the transferred elements as a single element


Exten () = function adds elements to the list one by one
The insert () function = adds an element to a specified index

In [5]:
my_list = [7, 2, 1]
my_list

[7, 2, 1]

In [6]:
my_list.append([44,15, 'python'])
my_list

[7, 2, 1, [44, 15, 'python']]

In [7]:
my_list.extend(['example',2])
my_list

[7, 2, 1, [44, 15, 'python'], 'example', 2]

In [8]:
my_list.insert(1, 'insert_example1')
my_list.insert(6, 'insert_example2')
my_list

[7,
 'insert_example1',
 2,
 1,
 [44, 15, 'python'],
 'example',
 'insert_example2',
 2]

# Removing an element from a list in

# Python can be achieved using the 

# clear (), pop () (), remove, () delite function



Using the clear () function removes all elements of a list
The pop () function also displays an element based on the array and its value


Using the delite () function, the elements of an index and the last index can be -1

In [9]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
my_list.clear()

In [11]:
my_list = [8, 3, 7, 9, 1]
my_list.pop(0)

8

In [12]:
my_list = [8, 2, 3, 7, 9, 1]
my_list.pop(1)

2

In [13]:
my_list.pop(4)

1

In [14]:
my_list = [12, 1, 5, 2, 4]
my_list.pop(-3)

5

In [15]:
myNumbers = [1, 2, 3, 4, 5, 6, 7, 8, 9 ]

# doubled_numbers = []

# for num in myNumbers:
#     doubled_numbers.append(num*2)
doubled_numbers = [num * 2 for num in myNumbers]

print(myNumbers)
print(doubled_numbers)

myName = "Alireza"

namescharacters = [char.upper() for char in myName]
print(namescharacters)

print("----------------------")

even = [num for num in myNumbers if num % 2 == 0]
odd = [num for num in myNumbers if num % 2!= 0]


print(even)
print(odd)

newlist = [num * 2 if num % 2 == 0 else num * 3 for num in myNumbers]
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
['A', 'L', 'I', 'R', 'E', 'Z', 'A']
----------------------
[2, 4, 6, 8]
[1, 3, 5, 7, 9]
[3, 4, 9, 8, 15, 12, 21, 16, 27]

In [16]:
#nested list

numbersList =[1, 2, 3, 4, 5, 6]

newNumbers = [[1, 2, 3],[4, 5,6]]

# index_1 = newNumbers[1] #[4, 5, 6]

# number_6 = index_1[2]

# number = newNumbers[1][2] #6

# print(number)

# print("---------------------")

# for li in newNumbers:
#     for num in li:

#         print(num)


# print('---------------------')

copyList = [[print(l)for l in li] for li in newNumbers]

print(copyList)
generatadList = [num for num in range(1 , 4)]

generatedNestedList = [

    ['X' if newNum % 2 == 0 else 'O' for newNum  in range(1, 4)]for Num in range(1, 4)]

print(generatadList)
print(generatedNestedList)

1
2
3
4
5
6
[[None, None, None], [None, None, None]]
[1, 2, 3]
[['O', 'X', 'O'], ['O', 'X', 'O'], ['O', 'X', 'O']]

In [17]:
# # List
# myNumbers = [1, 2, 3, 4, 5, 6]

# names = ["alireza", "milad", "bahman"]

# test = ["Python", "Tru",5, [4, 5, 6]]

 # dictionary = {
 # key value
 # }

# mytDictionary = {
#  "name" : "Item", 
# "conut" : 3,
# "price": 2500,
# 3: "test"
# }

# myshoppingcart = [
#     {"name":"Python","price":"free"},
#     {"name" :"kotlin", "price": 2500}
# ]

# mytDictionary_2 = dict(name = "newDictionary" ,age=33) 
# print(mytDictionary)
# print('------------------------------------')
# print(mytDictionary_2)



# print(mytDictionary_2["name"])

me = {
    "name" : "alireza",
    "family" :"ghanbari",
    "age" : 33
}

#     print(me["name"])
#     print(me["name"])
#      print(me["name"])
 


# print(me.values())
# # print(me.keys())


# for key in me.keys():
#     print(me[key])


for key , value in me.items():
    print(key , value)

name alireza
family ghanbari
age 33

In [18]:
me = {
    "name" : "alireza",
    "family" :"ghanbari",
    "age" : 33,
     "email" : "ghanbarialireza770@gmal.com"
}    
   
# print(me["email"])

# isExist = "name" in me

# if "email" in me :
#     print(me["email"])
# else:
#     print("there is no email key in me")


isNameExist = "alireza" in me.values()
print(isNameExist)

True

In [19]:
me = {
    "name" : "alireza",
    "family" :"ghanbari",
    "age" : 33,
     "email" : "ghanbarialireza770@gmal.com"
}    
   
# print(me)
# me.clear()
# print(me)

# copy_me = me.copy()
# print(me)
# print(copy_me)

# print(me==copy_me)
# print(me is copy_me)



#generate defualt value

# # newuser ={"name" :"unknown", "family" : "unknown"}
newuser_2 = dict.fromkeys(["name", "family", "phone", "email"],"unknown")
print(newuser_2)


# get


#print(me["phone"])

print(me.get("phone"))

isphoneExist = me.get("phone")

print(isphoneExist is None)

#if "phone" in me :
     #print("isexist")

{'name': 'unknown', 'family': 'unknown', 'phone': 'unknown', 'email': 'unknown'}
None
True

In [20]:
# tupel

listNumbers = [1, 2, 3, 4, 5]

tupleNumbers = (1, 2, 3, 4, 5, 2, (4, 5, 3,),3 , 3)  # immutable list=>  غیرتغیرق

#print(3 in tupleNumbers)

# newTuple = tuple([1, 2, 3, 4, 5])
# print(newTuple)


locations = {
    (35.67, 45.87): "Tehran",
    (40.30, 69.92): "Arak"
}

#print(locations[(40.30, 69.92)])

# for num in tupleNumbers :
#     print(num)

#print(tupleNumbers.count(3))

#print(tupleNumbers[6][1])

print(tupleNumbers[0:2])

(1, 2)

In [21]:
# set{}
numbers = {1, 2, 3, 4, 4, 4, 4, 4, 2, 2, 5}
numbers_2 = {3, 5, 't', 'z', 2, 7, 1, 1, 1, 5, 5, 5, 5}
print(4 in numbers)

print(numbers_2)

for item in numbers_2 :
    print(item)


courses =["kotlin","vuejs","python","ionic"]


courses_set = set(courses)


print(courses_set)
print(list(numbers_2))

numbers = {1, 2, 3, 4}
numbers.add(4)
numbers.remove(2)
if 4 in numbers :
    numbers.remove(4)

numbers.discard(4)
copyNumbers = numbers.copy()


print(numbers is copyNumbers)

print(copyNumbers)
numbers.clear()

print(numbers)

python = {"ali", "milad", "mohammad", "sara"}

kotlin = {"mohammad", "ahmad", "reza", "ali"}

print(python | kotlin)

print(python & kotlin)

newset = {x**2 for x in range(10)}

characters = {char for char in "hello world"}

print(characters)

True
{1, 2, 3, 5, 7, 'z', 't'}
1
2
3
5
7
z
t
{'ionic', 'python', 'vuejs', 'kotlin'}
[1, 2, 3, 5, 7, 'z', 't']
False
{1, 3}
set()
{'mohammad', 'ahmad', 'ali', 'reza', 'sara', 'milad'}
{'ali', 'mohammad'}
{'r', 'o', 'l', 'w', ' ', 'h', 'e', 'd'}

In [22]:
# what is a function

numbers = [1, 2, 3, 4, 5]
numbers.append(6)


print(numbers)


def oFunction():
     command

def sayHello():
    print("hello")
    print("how are you?")
    print("----------------")


sayHello()
sayHello()
sayHello()
sayHello()

[1, 2, 3, 4, 5, 6]
hello
how are you?
----------------
hello
how are you?
----------------
hello
how are you?
----------------
hello
how are you?
----------------

In [23]:
# project ditonary
cours = {
    "title" : "python Course",
    "teacher": "Mohammad ordokhani",
    "Time": 8.5,
    "videoCount" : 30,
    "tags" : ["python", "online Course", "free python Course"],
    "shortLink" : "toplearn.com/c/o273",
    "sessions": [
        {
            "title" : "session-1",
            "time" : 5
        },
        {
            "title" : "session-2",
            "time" : 7
        },
        {
            "title" : "session-3",
            "time" : 9
        }
    ],
    "relatedCourses" :[
        {
           "title" : "java Course",
            "teacher": "Mohammad Ghari",
            "Time": 20,
            "videoCount" : 42,
            "tags" : ["csharp", "online Course", "free csharp Course"],
            "shortlink" : "toplearn.com/c/82m",
        },
        {   
            "title" : "Csharp Course",
            "teacher":"Iman Mdaeny",
            "Time": 10,
            "videoCount" : 22,
            "tags" : ["csharp", "online Course", "free csharp Course"],
            "shortlink" : "toplearn.com/c/MZO",
        }
    ]
}


for related in cours["relatedCourses"]:
    print(related["title"])

total_time = 0

for session in cours["sessions"]:
        total_time += session["time"]

print(total_time)

isExist = "relatedcourses" in cours
print(isExist)

java Course
Csharp Course
21
False

In [24]:
listNumbers = [1, 2, 3, 4, 5]

tupleNumbers = (1, 2, 3, 4, 5)  # immutable list =

print(3 in tupleNumbers)

prson={
 "name" : "aliorerza"
 }

print(prson.items())

newTuple = tuple([1, 2, 3, 4, 5])
print(newTuple)

Locations = {
    (35.67, 45.87): "Tehran",
    (40.30, 69.92) : "Arak"
    }

print(Locations[(35.67, 45.87)])

for num in tupleNumbers :
    print(num)

print(tupleNumbers.count(6))

True
dict_items([('name', 'aliorerza')])
(1, 2, 3, 4, 5)
Tehran
1
2
3
4
5
0

In [25]:
# filter
print(all([0, 2, 3, 4 ]))

print(all([]))

numbers = [2, 4, 6, 8]

print(all([num % 2 == 0 for num in numbers]))

print([num % 2 == 0 for num in numbers])

False
True
True
[True, True, True, True]

In [26]:
numbers = [2, 4, 6, 7]

results = [False, False, False, True]

print(any([num % 2 != 0 for num in numbers]))

True

In [27]:
# filter()

numbers = [1, 2, 3, 4, 5, 6]

evens = filter(lambda num: num % 2 == 0, numbers)

print(list(evens))


users = [
    {'name': 'mohammad', 'shopCart': []},
    {'name': 'sara', 'shopCart': ['kotlin', 'vue']},
    {'name': 'iman', 'shopCart': []},
]

print(len(users))

# result = filter(lambda user:len(user['shopCart'])==0,users)
result = filter(lambda user: not (user['shopCart']), users)
# این دولاین هردویکی هستن
print(list(result))


result2 = map(lambda user: user['name'],
              filter(lambda user: not user['shopCart'], users)
              )

print(list(result2))

result3 = [user['name'] for user in users if len(user ['shopCart'])==0]

print(result3)

[2, 4, 6]
3
[{'name': 'mohammad', 'shopCart': []}, {'name': 'iman', 'shopCart': []}]
['mohammad', 'iman']
['mohammad', 'iman']

In [28]:
def square(num): return num * num


print(square(6))

myFunction = lambda num : num * num

# print(myFunction(6))

def sum(first, second):return first + second

# print(sum(4, 7))

sum2 = lambda first, second:first + second 

# print(sum2(4, 8))

print(square.__name__)

36
square

In [29]:
# absolute value

number = -5

print(abs(number))

5

In [30]:
# len
data = "mohammad"
data = [1, 2, 3, 4, 5]
data = (3, 4, 5, 6, 7, 8, 9)

print(len(data))
print(data.__len__())


# class MyList:
#     def __init__(self, data):
#          self._data = data

#     def __len__(self):
#         return 50


# test = MyList([23, 4, 5, 6, 7, 4, 3])

# print(len(test))

7
7

In [31]:
# round
number = 4.537

print(round(number, 5))

4.537

In [1]:
numbers = [1, 2, 3]

numbers = (1, 2, 3)

print(sum(numbers, 10))

16

In [6]:
myCourses = ["python", "kotlin", "Ionic", "kotlin"]

# clear () => remove all elments

print(myCourses)

myCourses.clear()

# print(myCourses)

#pop()




# print(myCourses)



# last_item  = myCourses.pop()
# first_item = myCourses.pop(0)
# print(myCourses)

# print(f'first item is : {first_item}')
# print(f'last item is : {last_item}')


# remove




# print(myCourses)

# myCourses.remove("kotlin")

# print(myCourses)

['python', 'kotlin', 'Ionic', 'kotlin']

In [16]:
# map

numbers = [1, 2, 3, 4, 5]

doubles = map(lambda x: x * 2, numbers)

print(doubles)

print(list(doubles))

print(list(doubles))

doubles = [2, 4, 6, 8, 10]

doubles=[]

for num in numbers:
    doubles.append(num * 2)

print(doubles)

names = ["alireza", "mohammad", "sara", "iman", "ali"]

upperNames = map(lambda name : name.upper(),names)

print(list(upperNames))


people=[
    {'name':'alireza','family':'ghanbari','age':33},
    {'name':'sara','family':'moradi','age':25},
    {'name':'iman','family':'mdaeni','age':30}   
]
families = map(lambda person: person['family'],people)

print(list(map(lambda person: person['family'],people)))



families_2 = []

for person in people:
    families_2.append(person['family'])

print(families_2)

<map object at 0x0000013D8A979670>
[2, 4, 6, 8, 10]
[]
[2, 4, 6, 8, 10]
['ALIREZA', 'MOHAMMAD', 'SARA', 'IMAN', 'ALI']
['ghanbari', 'moradi', 'mdaeni']
['ghanbari', 'moradi', 'mdaeni']

In [17]:
# map

# numbers = [1, 2, 3, 4, 5]

# doubles =map(lambda x: x * 2,numbers)

# print(doubles)

# print(list(doubles))

# print(list(doubles))

# doubles = [2, 4, 6, 8, 10]

# doubles = []

# for num in numbers:
#     doubles.append(num * 2)

# print(doubles)

names = ["mohammad", "sara", "iman", "ali"]

upperNames = map(lambda name:name.upper(),names)

# print(list(upperNames))


people = [
    {'name': 'mohammad', 'family': 'ordookhani', 'age': 25},
    {'name': 'sara', 'family': 'moradi', 'age': 23},
    {'name': 'iman', 'family': 'madaeni', 'age': 30}
]

# families = map(lambda person: person['family'],people)


print(list(map(lambda person: person['family'],people)))

# families_2 = []

# for preson in people :
#     families_2.append(preson['family'])

# print(families_2)

['ordookhani', 'moradi', 'madaeni']

In [19]:
# zip
# numbers_1 = [1, 2, 3, 4, 5]
# numbers_2 = [5, 6, 7, 8, 9, 10]

# result = zip(numbers_1, numbers_2)

# # print(list(result))
# # print(dict(result))

# myList = [(1, 5), (3, 7), (6, 4), (7, 9)]

# print(list(zip(*myList)))


students = ["mohammad", "iman", "sara"]
midterm = [78, 80, 94]
final = [90, 88, 92]

# {"mohammad":90, "iman":88, "sara":94}

# finalGrades =[pair for pair in zip(students,midterm,final)]

finalGrsdes = {t[0]: max(t[1], t[2]) for t in zip(students, midterm, final)}

average = zip(
    students,
    map(

        lambda pair: (pair[0] + pair[1]) / 2,
        zip(midterm, final)
    )
)

print(dict(average))

{'mohammad': 84.0, 'iman': 84.0, 'sara': 93.0}